.repostats {
    display: flex;
    flex-direction: column;
    color: white;
}


.chart--stats{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 100px;

}